@use "variables";

.top-header {
    font-family: variables.$font-robot;
    font-weight: 600;
    font-size: 14px;
}

.nav-btn {
    font-family: variables.$font-asap;
    font-weight: bold;
    font-size: 16px;
}

.footer {
    font-family: variables.$font-asap;
}

.footer_btm {
    font-family: variables.$font-robot;
    
    font-size: 13px;
}