.h_firstSentence {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 600;
  font-size: 14px;
}

li {
  font-family: "Asap", sans-serif;
  font-weight: bold;
  font-size: 16px;
}

.footer_up_box {
  font-family: "Asap", sans-serif;
}

.footer_btm {
  font-family: "Roboto Condensed", sans-serif;
}