.top-header {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 600;
  font-size: 14px;
}

.nav-btn {
  font-family: "Asap", sans-serif;
  font-weight: bold;
  font-size: 16px;
}

.footer {
  font-family: "Asap", sans-serif;
}

.footer_btm {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 13px;
}

.contents-health {
  width: 100%;
  height: 1000px;
  margin-top: 167px;
  padding: 105px 360px;
  color: #000000;
  font-family: "Roboto Condensed", sans-serif;
}
.contents-health .contents-health-box {
  padding: 29px 0px;
  line-height: 1.7em;
}
.contents-health .contents-health-box .contents-health-h2 {
  font-family: "Asap", sans-serif;
  color: #4e092b;
  font-size: 48px;
  font-weight: bold;
  padding-bottom: 20px;
}
.contents-health .contents-health-box .contents-health-h3 {
  font-family: "Asap", sans-serif;
  color: #4e092b;
  font-size: 24px;
  padding-bottom: 20px;
}
.contents-health .contents-health-box .contents-health-title {
  font-weight: bold;
}
.contents-health .contents-health-box .contents-health-lists {
  list-style-type: disc;
  padding: 0px 0px 16px 16px;
}
.contents-health .contents-health-box p {
  padding-bottom: 20px;
}