//SCSS settings

@use "fonts";
@use "variables";

//Basic settings

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}


//Header part

.top-header {
    display: flex;
    justify-content: center;
    background-color: #ffdd92;
    color: #4e092b;
    position: fixed;
    height: variables.$topHeader-height;
    width: 100%;
    top: 0px;
    z-index: 2;
    .top-header-box {
        width: 1152px;
        display: flex;
        justify-content: right;
         p {
             margin: 0;
             display: inline-block;
             margin-top: 9px;
         }
    }
    
}

//Header--nav part

.header-nav {
    position: fixed;
    top: 35px;
    background-color: #4e092b;
    color: #ffffff;
    height: variables.$header-height;
    width: 100%;
    padding: 0px 144px;
    display: flex;
    justify-content: space-between;
    z-index: 2;
    img {
        height: 100%;
    }
}

//Header--navbar lists part

.nav-list {
    display: flex;
    align-items: center;
    z-index: 2;
    .nav-btn {
        margin: 0px 21px 0px 0px;
    }

    .nav-btn:active{
        color: #DF9F00;
    }

    .nav-btn-border {
        border: 1px solid #ffdd92;
        border-radius: 5px;
        padding: 10px 19px;
    }

    .nav-btn-border:hover {
        background-color: #DF9F00;
    }
}

.nav-list > .nav-dropdown {
    position: relative;
}

.dropdown-box {
    position: fixed;
    top: 167px;
    left: 550px;
    width: 800px;
    height: 332px;
    visibility: hidden;
    background-color: #ffdd92;
    transition: all .2s ease;
    display: flex;
    border-top: 5px solid #DF9F00;
    padding: 3% 0%;

}

.nav-dropdown:hover .dropdown-box {
    visibility: visible;
}

.dropdown-lists-box-inside {
    display: flex;
    margin-bottom: 3rem;
}

.dropdown-lists-box-inside-left {
    margin-right: 5rem;
}

.dropdown {
    display: flex;
    font-family: variables.$font-asap;
    padding: 0% 3%;
}

.dropdown-lists {
    padding: 0% 3%;
}

.dropdown-lists h3 {
    color: #4e092b;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 1rem;
}
.dropdown-lists p {
    color: #000000;
    margin-bottom: 1rem;
}

.dropdown-lists-box-1 {
    width: 300px;
    height: 250px;
}
.dropdown-lists-box-2 {
    width: 250px;
    height: 250px;
    border-left: 1px solid #DF9F00;
}

.dropdown-lists-box-border {
    border-bottom: 1px solid #DF9F00;
    margin-bottom: 1rem;
}


//Contents part

//Contents pasta

.contents-pasta {
    margin-top: 167px; 
    width: 100%;
    height: 342px;
    position: relative;
    img {
        position: absolute;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

//Contents welcome

.contents-welcome {
    height: 260px;
    width: 100%;
    padding: 37.3px 0px;
    text-align: center;
    background-color: #4e092b;
    color: #ffdd92;
    font-family: variables.$font-asap;
    .contents-welcome-sentence {
        margin-top: 25px;
        font-size: 48px;
        font-weight: bold;
        
    }
    .contents-welcome-btn {
        margin-top: 25px;
        border: solid 2px #ffffff;
        background-color: #4e092b;
        color: #ffffff;
        font-size: 22px;
        font-weight: bold;
        border-radius: 5px;
        padding: 12px 22px;
        cursor: pointer;
    }
    .contents-welcome-btn:hover {
        background-color: #DF9F00;
        color: #4e092b;
    }
}

//Contents hiring

.contents-hiring {
    width: 100%;
    height: 409px;
    display: flex;
    .contents-hiring-information {
        width: 50%;
        padding: 105px 144px;
        background-color: #ffdd92;
        color: #4e092b;
        display: flex;
        flex-wrap: wrap;
        flex-flow: column;
        justify-content: space-around;
        .contents-hiring-national {
            font-size: 3rem;
            font-weight: bold;
            font-family: variables.$font-asap;
        }
        .contents-hiring-sentence {
            color: #000000;
            font-size: 16px;
            font-family: variables.$font-robot;
        }
        .contents-hiring-btn {
            display: inline-block;
            color: #ffffff;
            font-size: 22px;
            font-weight: bold;
            font-family: variables.$font-robot;
            background-color: #4e092b;
            border-radius: 5px;
            padding: 12px 22px;
            cursor: pointer;
        }
        .contents-hiring-btn:hover {
            background-color: #DF9F00;
            color: #4e092b;
        }
    }
    .contents-hiring-image {
        width: 50%;
        position: relative;
        img {
            position: absolute;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
}

//Contents giftcard

.contents-giftcard {
    width: 100%;
    height: 520px;
    padding: 63.5px 0px;
    background-color: #4e092b;
    .contents-giftcard-box {
        padding: 2% 0%;
        margin: 0% 10%;
        display: flex;
        .contents-giftcard-image {
            width: 50%;
            padding-right: 4%;
            .contents-giftcard-image-deg {
                width: 90%;
                height: auto;
                transform: rotate(-15deg);
            }
        }
        .contents-giftcard-information {
            width: 50%;
            padding: 6% 0% 6% 2%; 
            display: flex;
            flex-wrap: wrap;
            flex-flow: column;
            .contents-giftcard-gift {
            color: #ffdd92;
            font-size: 3rem;
            font-weight: bold;
            font-family: variables.$font-asap;
            margin-bottom: 6%;
            }
            .contents-giftcard-sentence {
                color: #ffffff;
            font-size: 16px;
            font-family: variables.$font-robot;
            margin-bottom: 6%;
            }
            .contents-giftcard-btn {
            display: inline-block;
            color: #ffffff;
            font-size: 22px;
            font-weight: bold;
            font-family: variables.$font-robot;
            background-color: #4e092b;
            border: 2px solid #ffffff;
            border-radius: 5px;
            padding: 12px 22px;
            cursor: pointer;
            }
            .contents-giftcard-btn:hover {
            background-color: #DF9F00;
            color: #4e092b;
            }


        }
    }   
}

//Contents pickupdelivery

.contents-pickupdelivery {
    width: 100%;
    height: 639px;
    background-color: #ffdd92;
    display: flex;
    .contents-pickupdelivery-information {
        width: 50%;
        color: #4e092b;
        display: flex;
        flex-wrap: wrap;
        flex-flow: column;
        justify-content: space-around;
        padding-top: 10vh;
        padding-right: 10vw;
        padding-bottom: 10vh;
        padding-left: 10vw;
        .contents-pickupdelivery-2024 {
            font-size: 1.5rem;
            font-family: variables.$font-asap;
        }
        .contents-pickupdelivery-help {
            font-size: 3rem;
            font-weight: bold;
            font-family: variables.$font-asap;
        }
        .contents-pickupdelivery-sentence {
            color: #000000;
            font-size: 16px;
            font-family: variables.$font-robot;
        }
        .contents-pickupdelivery-btn {
            display: inline-block;
            color: #ffffff;
            font-size: 22px;
            font-weight: bold;
            font-family: variables.$font-robot;
            background-color: #4e092b;
            border-radius: 5px;
            padding: 12px 22px;
        }

        .contents-pickupdelivery-btn:hover {
            background-color: #DF9F00;
            color: #4e092b;
        }
}
        .contents-pickupdelivery-image {
            width: 50%;
            position: relative;
            img {
                position: absolute;
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }
}

//Contents family

.contents-family {
    width: 100%;
    height: 585px;
    background-color: #ffdd92;
    display: flex;
    .contents-family-image {
        width: 50%;
        position: relative;
        img {
            position: absolute;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
    .contents-family-information {
        width: 50%;
        color: #4e092b;
        display: flex;
        flex-wrap: wrap;
        flex-flow: column;
        justify-content: space-around;
        padding-top: 10vh;
        padding-right: 10vw;
        padding-bottom: 10vh;
        padding-left: 10vw;
        .contents-family-style {
            font-size: 3rem;
            font-weight: bold;
            font-family: variables.$font-asap;
        }
        .contents-family-sentence {
            color: #000000;
            font-size: 16px;
            font-family: variables.$font-robot;
        }
        .contents-pickupdelivery-btn {
            display: inline-block;
            color: #ffffff;
            font-size: 22px;
            font-weight: bold;
            font-family: variables.$font-robot;
            background-color: #4e092b;
            border-radius: 5px;
            padding: 12px 22px;
        }

        .contents-pickupdelivery-btn:hover {
            background-color: #DF9F00;
            color: #4e092b;
        }
}
}

//Contents hungry

.contents-hungry {
    width: 100%;
    height: 317px;
    background-color: #DF9F00;
    text-align: center;
    color: #4e092b;
    font-family: variables.$font-asap;
    display: table;
    text-align: center;
    .contents-hungry-box {
        width: 40%;
        display: table-cell;
        vertical-align: middle;
        .contents-hungry-h3{
            font-size: 24px;
        }
        .contents-hungry-h2{
            font-size: 48px;
            font-weight: bold;
        }
        .contents-hungry-btn{
            margin-top: 1em;
            font-size: 18px;
            font-weight: bold;
            background-color: #DF9F00;
            border: 2px solid #4e092b;
            border-radius: 5px;
            padding: 10px 18px;
        }
        .contents-hungry-btn:hover {
            background-color: #ffdd92;
        }
    }
    
}

//Contents underhungry

.contents-unferfungry-image {
    width: 100%;
    height: 317px;
    position: relative;
            img {
                position: absolute;
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
}



//Footer part

.footer {
    height: 549px;
    width:100%;
    background-color: #4e092b;
    color: #ffffff;
    padding: 6% 10%;
    display: flex;
    justify-content: space-between;
}

.footer-contact {
    width: 38%;
    padding: 0% 1.5% 0% 2%;
    h2 {
        color: #ffdd92;
        font-size: 28px;
        font-weight: bold;
    }
    h2, p {
        margin-bottom: 6%;
    }
    .footer-contact-explanation {
        font-size: 11px;
    }
    label {
        font-weight: bold;
    }
    
    input {
        width: 100%;
        color: #000000;
        background-color: #ffffff;
        margin: 3% 0% 5% 0%;
        padding: 10px 15px;
        border-radius: 3px;
        font-size: 14px;
        line-height: 1.5;
    }
    
    .footer-contact-btn {
        width: 100%;
        color: #000000;
        background-color: #ffdd92;
        margin: 2% 0% 5% 0%;
        padding: 10px 15px;
        border-radius: 3px;
        font-size: 16px;
        text-align: center;
        line-height: 1.5;
    }
    .footer-contact-btn:hover {
        background-color: #fff0cd;

    }
}

.footer-links {
    display: flex;
    justify-content: space-around;
    width: 58%;
    color: #ffdd92;
    font-size: 16px;
    .footer-link {
        cursor: pointer;
    }
    .footer-link, .footer-follow {
        margin-bottom: 15px;
    }
    .footer-link:hover {
        color: #DF9F00;
    }
    .footer-follow {
        font-weight: bold;
        font-size: 18px;
    }
    .footer-links-column {
        margin-right: 10px;
        .footer-links-column-icons {
            width: 32px;
            height: 32px;
            border-radius: 3px;
            margin-right: 4px;
        }
        .footer-links-columns-logo {
            width: 110px;
            height: 90px;
        }
    }
}

.footer_btm {
    bottom: 0;
    width: 100%;
    height: 57px;
    color: #ffdd92;
    background-color: #420126;
    padding: 20px 0px 0px 0px;
    text-align: center;
}